-- ==========================================================
-- Schéma minimal EcoRide - écrit à la main (MySQL/InnoDB)
-- Tables clés : utilisateur, voiture, covoiturage, participe, avis
-- ==========================================================

-- =========================
-- Utilisateur
-- =========================
CREATE TABLE utilisateur (
  id_utilisateur INT AUTO_INCREMENT PRIMARY KEY,
  pseudo         VARCHAR(50)  NOT NULL,
  email          VARCHAR(100) NOT NULL UNIQUE,
  mot_de_passe   VARCHAR(255) NOT NULL,
  nom            VARCHAR(50),
  prenom         VARCHAR(50),
  role           ENUM('utilisateur','conducteur','employe','admin') DEFAULT 'utilisateur',
  photo          VARCHAR(255),
  credits        INT DEFAULT 0,
  suspendu       TINYINT(1) DEFAULT 0,
  UNIQUE KEY uq_utilisateur_pseudo (pseudo)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- =========================
-- Voiture (liée à un utilisateur conducteur)
-- =========================
CREATE TABLE voiture (
  immatriculation              VARCHAR(20) PRIMARY KEY,
  marque                       VARCHAR(50),
  modele                       VARCHAR(50),
  energie                      VARCHAR(50),
  date_premiere_immatriculation DATE,
  id_utilisateur               INT,
  CONSTRAINT fk_voiture_user
    FOREIGN KEY (id_utilisateur) REFERENCES utilisateur(id_utilisateur)
    ON DELETE SET NULL ON UPDATE CASCADE,
  KEY idx_voiture_user (id_utilisateur)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- =========================
-- Covoiturage (créé par un utilisateur)
-- =========================
CREATE TABLE covoiturage (
  id_covoiturage INT AUTO_INCREMENT PRIMARY KEY,
  id_utilisateur INT NOT NULL,                 -- créateur / conducteur
  ville_depart   VARCHAR(100) NOT NULL,
  ville_arrivee  VARCHAR(100) NOT NULL,
  date_depart    DATE NOT NULL,
  heure_depart   TIME NOT NULL,
  prix           DECIMAL(6,2) NOT NULL,
  nb_place       INT NOT NULL,
  statut         ENUM('non_demarre','en_cours','termine') DEFAULT 'non_demarre',
  voyage_ecologique TINYINT(1) DEFAULT 1,
  id_voiture     VARCHAR(20),                  -- référence optionnelle à voiture
  CONSTRAINT fk_covoiturage_user
    FOREIGN KEY (id_utilisateur) REFERENCES utilisateur(id_utilisateur)
    ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT fk_covoiturage_voiture
    FOREIGN KEY (id_voiture) REFERENCES voiture(immatriculation)
    ON DELETE SET NULL ON UPDATE CASCADE,
  KEY idx_covoiturage_date (date_depart, heure_depart),
  KEY idx_covoiturage_villes (ville_depart, ville_arrivee)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- =========================
-- Participe (table de liaison passager <-> covoiturage)
-- =========================
CREATE TABLE participe (
  id_utilisateur  INT NOT NULL,     -- passager
  id_covoiturage  INT NOT NULL,
  credit_utilise  INT DEFAULT NULL,
  confirmation    TINYINT(1) DEFAULT 0,
  statut_validation ENUM('en_attente','valide','probleme') DEFAULT 'en_attente',
  commentaire_probleme TEXT,
  PRIMARY KEY (id_utilisateur, id_covoiturage),
  CONSTRAINT fk_participe_user
    FOREIGN KEY (id_utilisateur) REFERENCES utilisateur(id_utilisateur)
    ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT fk_participe_covoiturage
    FOREIGN KEY (id_covoiturage) REFERENCES covoiturage(id_covoiturage)
    ON DELETE CASCADE ON UPDATE CASCADE,
  KEY idx_participe_covoiturage (id_covoiturage)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- =========================
-- Avis (un utilisateur laisse un avis sur un conducteur)
-- =========================
CREATE TABLE avis (
  id_avis        INT AUTO_INCREMENT PRIMARY KEY,
  id_utilisateur INT NOT NULL,        -- auteur de l'avis
  id_conducteur  INT NOT NULL,        -- destinataire (profil conducteur)
  note           INT NOT NULL,
  commentaire    TEXT,
  date_avis      DATETIME DEFAULT CURRENT_TIMESTAMP,
  valide         TINYINT(1) DEFAULT 0,
  CONSTRAINT chk_avis_note CHECK (note BETWEEN 1 AND 5),
  CONSTRAINT fk_avis_auteur
    FOREIGN KEY (id_utilisateur) REFERENCES utilisateur(id_utilisateur)
    ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT fk_avis_conducteur
    FOREIGN KEY (id_conducteur) REFERENCES utilisateur(id_utilisateur)
    ON DELETE CASCADE ON UPDATE CASCADE,
  KEY idx_avis_conducteur (id_conducteur)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- =========================
-- (Optionnel) Jeu de données minuscule pour démo
-- =========================
INSERT INTO utilisateur (pseudo,email,mot_de_passe,nom,prenom,role)
VALUES
('aliceDrive','alice@eco.test','hash','Sow','Alice','conducteur'),
('zineb','zineb@eco.test','hash','El Amrani','Zineb','utilisateur');

INSERT INTO voiture (immatriculation,marque,modele,energie,date_premiere_immatriculation,id_utilisateur)
VALUES ('AB-456-CD','Toyota','Yaris Hybride','hybride','2020-06-10', 1);

INSERT INTO covoiturage (id_utilisateur,ville_depart,ville_arrivee,date_depart,heure_depart,prix,nb_place,statut,voyage_ecologique,id_voiture)
VALUES (1,'Paris','Eragny','2025-11-26','09:00:00',8.50,3,'non_demarre',1,'AB-456-CD');

INSERT INTO participe (id_utilisateur,id_covoiturage,credit_utilise,confirmation,statut_validation)
VALUES (2, 1, NULL, 0, 'en_attente');

INSERT INTO avis (id_utilisateur,id_conducteur,note,commentaire)
VALUES (2, 1, 5, 'Trajet agréable et ponctuel');
